*{
    margin:0;
    padding: 0;
}
.top{
    
    background: linear-gradient(-45deg, #00485d, #0389b5);
    background-size: 100%;
    animation: gradient 5s ease infinite;
    height: 5vh;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
